name: Continuous Integration

on:
  pull_request:
  push:

jobs:
  openjdk21:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [21, 25]
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
          cache: sbt

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - run: sbt compile
      - run: sbt test
      - run: sbt scalafmtCheckAll
